@use "../../styles/variables";

.page-container {
    min-height: 90vh;
    background: variables.$primary-color;
    display: flex;
    overflow: hidden;
    position: relative;
}

.buttons-container {
    margin: 2rem 0.5rem; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    button {
        margin: 0.5rem;
        width: 80%;
    }  
}

.custom-shape-divider-bottom-1657840038 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1657840038 svg {
    position: relative;
    display: block;
    width: calc(118% + 1.3px);
    height: 90px;
}

.custom-shape-divider-bottom-1657840038 .shape-fill {
    fill: variables.$secondary-color;
}
.content-container {
    width: 100%;
    min-height: 100%;
    background: variables.$primary-color;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 200% auto;
    margin-top: 3rem;
    
    .intro-name {
        text-align: center;
        font-size: 2rem;
        margin: 1rem;
        letter-spacing: 0.1rem;
    }

    p {
        color: black;
        font-size: 1rem;
        text-align: center;
    }
}


.color-secondary {
    color: variables.$secondary-color;
}

#landingpage-top {
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 1px;
}

@media screen and (min-width: 768px) {

    .buttons-container {
        margin: 5rem; 
        flex-direction: row;
        button {
            margin: 0 3rem;
            width: 100%;
        }  
    }

    .content-container {
        margin-top: 5rem;

        .intro-name {
            font-size: 3.5rem;
        }
    
        p {
            font-size: 2rem;
        }
    }
    .content-container {
        background-size: 100% 90%;
    }
}



@media screen and (min-width: 1024px) {
    
    .buttons-container {
        button {
            max-width: 300px;
        }
    }
}

@media screen and (max-height: 550px){
    .content-container {
        background-size: 100% 90%;
    }
}