@use "../../styles/variables";

.page-container {
    min-height: 90vh;
    background: variables.$primary-color;
    overflow: hidden;
    position: relative;
    font-family: variables.$primary-font;
}

.buttons-container {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    button {
        width: 80%;
    }  
}

.content-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1300px;
    padding: 0.5rem;
    margin-top: 7rem;
    
    .intro-name {
        color: variables.$white-color;
        text-transform: uppercase;
        font-weight: bold;
        color: #F58153;
        font-size: 2rem;
        letter-spacing: 0.1rem;
        margin-bottom: 1rem;
        img {
            height: 2rem;
            margin-right: 0.5rem;
            width: auto;
        }
    }

    .intro-text {
        margin-bottom: 5rem;
    }

    p {
        color: variables.$off-white-color;
        font-size: 1rem;
    }
}


.color-secondary {
    color: variables.$secondary-color;
}

#landingpage-top {
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 1px;
}

.top-landing-page-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

@media screen and (min-width: 768px) {

    .buttons-container {
        margin: 5rem; 
        flex-direction: row;
        button {
            margin: 0 3rem;
            width: 100%;
        }  
    }

    .content-container {
        margin-top: 10rem;

        .intro-name {
            font-size: 3.5rem;
            img {
                height: 3.5rem;
            }
        }
    
        p {
            font-size: 2rem;
        }
    }
    .content-container {
        background-size: 100% 90%;
    }
}



@media screen and (min-width: 1024px) {
    
    .buttons-container {
        button {
            max-width: 300px;
        }
    }
}

@media screen and (max-height: 550px){
    .content-container {
        background-size: 100% 90%;
    }
}