@use "../../styles/variables";

.page-container {
    background: variables.$bg-color;
    height: 90vh;
}

.upper-container {
    background: variables.$orange-color;
    height: 75px;
    border-bottom-right-radius: 10rem;  
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    text-transform: uppercase;
    overflow: hidden;
    color: white;
    -webkit-text-stroke: 0.05rem white;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
    span {
        transform: translateX(-100%);
        animation-name: loopScrollText;
        animation-duration: 8s;
        animation-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
        animation-iteration-count: infinite;
    }
}

@keyframes loopScrollText {
    from {
        transform: translateX(100%)
    }

    to {
        transform: translateX(-100%)
    }
}


.lower-container {
    @extend .upper-container;
    border-top-left-radius: 10rem;
    border-bottom-right-radius: 0;
    span {
        animation-delay: 1s;
    }
    position: absolute;
    bottom: 0;
    width: 100%;
}

.intro-container {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-name {
    text-align: center;
    padding: 1rem;
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    height: 150px;
}

.cta-button {
    border: 0.1rem solid white;
    padding: 0.5rem;
    font-size: 1.2rem;
    opacity: 0;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    background: transparent;
    cursor: pointer;
    a {
        color: white;
        font-size: 1rem;
    }
    span {
        margin-right: 0.5rem;
    }
}

.cta-button-animation {
    animation: ctaButtonAppear 2s forwards;
}

@keyframes ctaButtonAppear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animate-intro-title {
    animation: introTitleAnimation 2s forwards; 
}

.intro-title {
    font-size: 2.5rem;
}

@keyframes introTitleAnimation {
}

.intro-name-span {
    animation: fallBounce 3s forwards;
    font-size: 2rem;
    transform: translateY(-300px);
    white-space: pre;
}

.orange-bold {
    color: variables.$orange-color;
    font-weight: bold;
}

@keyframes fallBounce {
    0% {
        transform: translateY(-300px);
    }
    20% {
        transform: scale(1.1, 0.8)
    }
    30% {
        transform: translateY(0);   
    }
    50% {
        transform: scale(1.15, 0.7);
    }
    60% {
        transform: scale(0.9, 1.1)
    }
    80% {
        transform: scale(1.1, 0.8)
    }
    100% {
        transform: scale(1, 1)
    }
}

//exit animation {
    // 95% {
    //     transform: rotate(-180deg);
    // }
    // 100% {
    //     transform: translateY(-300px);
    // }
// }