@use "../../styles/variables";

.link-button {
    font-size: 1.2rem;
    position: relative;
    border: none;
    width: fit-content;
    z-index: 1;
    outline: none;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: none;
    background: variables.$primary-color;
    color: variables.$secondary-color;
    cursor: pointer;

    a {
        padding: 0.25rem;
        font-weight: bold;
        border: 0.2rem solid variables.$secondary-color;
        font-size: 1rem;
        height: 100%;
        width: 100%;
    }
    span {
        margin-right: 0.5rem;
    }
}

.link-button:hover {
    color: variables.$primary-color;
}

.link-button:before {
    transition: 0.5s all ease;
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    background-color: variables.$secondary-color;
}

.link-button:hover:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}

.link-button a:hover {
    svg {
        animation: rotateArrowDown 0.2s forwards ease;
    }
}

@media (hover: none){
    .link-button:hover {
        color: black;
    }
    
    .link-button:hover:before {
        transition: 0.5s all ease;
        content: "";
        top: 0;
        left: 50%;
        right: 50%;
        bottom: 0;
        opacity: 1;
    }
    
    .link-button a:hover {
        svg {
            animation: none;
        }
    }
}

@keyframes rotateArrowDown {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(90deg);
    }
}

@media screen and (min-width: 768px) {
    .link-button a {
        padding: 0.75rem;
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1024px) {
    .link-button a, .link-button svg {
        font-size: 1.8rem;
    }
}
