@use "../../styles/variables";

.portfolio-container {
    min-height: 100vh;
    height: fit-content;
    position: relative;
    overflow: hidden;
    background: variables.$dark-bg-color;
}

.portfolio-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 75px);
    padding: 0.5rem;
    overflow: hidden;
    background: url("../../images/top-layered-waves-haikei.svg"), url("../../images/layered-waves-haikei.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: 100% auto, 100% auto;
    background-position: 0 0, bottom;
}

.contact-link-btn {
    margin: 0rem auto;  
    display: flex;
    align-items: center;
    border: 1px solid white;
    background: transparent; 
    font-size: 1.2rem;

    span, svg {
        margin: 0 0.2rem;
        color: white;
    }

    a {
        text-decoration: none;
        padding: 0.8rem;
    }
}

@media screen and (min-width: 1024px) {

    .portfolio-content-container {
        background-size: 100% 60%, 100% 60%;
    }

}