@use "../../styles/variables";

.portfolio-container {
    height: fit-content;
    min-height: 90vh;
    height: fit-content;
    width: 100%;
    background: variables.$secondary-color;
}


.portfolio-content-container {
    min-height: calc(100% - 75px);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    color: variables.$primary-color;

    p {
        text-align: center;
    }
    
    #portfolio-title {
        text-align: center;
        color: black;
        text-transform: capitalize;
        margin: 2rem 0 1rem 0;
        font-size: 2rem;
    }
}

@media screen and (min-width: 768px) {
    .portfolio-content-container {
        p  {
            font-size: 1.5rem;
        }
    }
    .projects-list {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        div {
            margin: 0 1rem;
        }
    }
}




