@use "../../styles/variables";

.portfolio-container {
    height: fit-content;
    min-height: 90vh;
    width: 100%;
    background: variables.$dark-bg-color; 
}

.portfolio-content-container {
    min-height: calc(100% - 75px);
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem;
    border-top: 0.1rem solid white;
}

img {
    height: 200px;
    width: auto;
    display: inline-block;
}