@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

// $orange-color: #fa7100;
// variables.$primary-color: #1e1e1e;
// $red-svg-color: #c72424;
$secondary-color: #9646fa;
$primary-color: white;
$red-svg-color: #c72424;
$banner-font: 'Lexend Zetta', sans-serif;