@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');


//old purple dark color #5C1EA8;
//old purple v1 color #9646fa
$secondary-color: #1E5FEB;
$primary-color: white;
$red-svg-color: #c72424;
$banner-font: 'Lexend Zetta', sans-serif;