@use "../../../styles/variables";

.project-container {
    width: 95%;
    background: rgb(255, 255, 255, 0.88);
    height: auto;
    overflow: hidden;
    margin: 2rem auto;
    padding: 0.5rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 0.5rem;
    max-width: 900px;
    position: relative;
    font-size: 0.8rem;

    .project-title {
        text-align: center;
        margin: 0.3rem;
    }

    .about-project {
        margin: 0.3rem 0;
        h3 {
            text-align: center;
            margin: 1rem;
        }
        .technologies-used {
            text-align: center;
            ul li {
                list-style-type: none;
            }
        }
    }

    .image-container {
        width: 100%;
        img {
            width: 100%;
            height: auto;
        }
    }

    .project-links-container {
        display: flex;
        margin: 1.5rem 0;
        justify-content: center;
        
        button {
            border-radius: 0.25rem;
            border: 0.05rem solid black;   
            margin: 0 1rem; 
            display: flex;
            justify-content: space-between;
            align-items: center;  
            a {
                padding: 0.5rem;
                text-decoration: none;
                color: white;
                width: 100%;
                height: 100%;
                
            }
        }
        .website-btn {
            background: variables.$orange-color;
        }
        .github-btn {
            background: variables.$red-svg-color;
        }
    }
}

@media screen and (min-width: 540px) {
    .project-container {
        width: 85%;
    }
}

@media screen and (min-width: 768px) {
    .project-container {
        padding: 1rem;
        font-size: 1.3rem;

        .project-title {
            margin: 0.8rem;
        }

        span svg {
            font-size: 3rem;
        }

        button {
            font-size: 1.5rem;
        }
    }
}

@media screen and (min-height: 850px){
    .project-container {
        padding: 1rem;
        font-size: 1.3rem;
    }
}
