@use "../../styles/variables";

.contact-page-container {
    background: variables.$dark-bg-color;
    height: 90vh;

    .title-container {
        border-top: 0.1rem solid white;
        border-bottom: 0.1rem solid white;
    }


    .contact-content-container {
        height: calc(100% - 75px);
        padding: 0.5rem;
        overflow: hidden;
        background: url("../../images/layered-waves-haikei.svg");
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: bottom;
    }

    form {
        width: 90%;
        max-width: 500px;
        margin: 5rem auto;
        background: variables.$orange-color;
        padding: 0.5rem;
        border-radius: 0.5rem;
        overflow: hidden;
        
        input, textarea, button {
            margin: 0.5rem 0;
            padding: 0.25rem;
            width: 100%;
            border-radius: 0.125rem;
            border: none;
        }

        button {
            color: white;
            background: variables.$dark-bg-color;
            border: 0.1rem solid white;
            cursor: pointer;
        }
    }
}

@media screen and (min-width: 1024px) {

    .contact-page-container {
    form input, form textarea, form button {
        font-size: 1.3rem;
        padding: 0.5rem;
    }   
}

.contact-page-container {

.contact-content-container {
    background-size: 100% 80%;
}

}
}