@use "../../styles/variables";

.contact-page-container {
    height: 90vh;

    .contact-content-container {
        height: calc(100% - 75px);
        min-height: fit-content;
        padding: 0.5rem;
        overflow: hidden;
        h1 {
            text-align: center;
        }
    }

    form {
        width: 90%;
        max-width: 500px;
        margin: 5rem auto;
        background: variables.$secondary-color;
        padding: 0.5rem;
        border-radius: 0.5rem;
        overflow: hidden;
        
        input, textarea, button {
            font-family: 'Roboto', sans-serif;
            margin: 0.5rem 0;
            padding: 0.25rem;
            width: 100%;
            border-radius: 0.125rem;
            border: none;
        }

        button {
            background: #E6E325;
            border: 0.1rem solid variables.$primary-color;
            cursor: pointer;
        }
    }
}

@media screen and (min-width: 1024px) {

    .contact-page-container {
        form input, form textarea, form button {
            font-size: 1.3rem;
            padding: 0.5rem;
        }   
    h1 {
        font-size: 3rem;
    }
}

}