@use "../../styles/variables";

nav {
    display: flex;
    background: variables.$dark-bg-color;
    justify-content: space-between;
    align-items: center;
    height: max(10vh, 60px);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 3;
    border-bottom: 0.1rem solid white;
    ul {
        display: flex;
        list-style-type: none;
        align-items: center;

        li:first-child {
            border-right: 0.05rem solid white;
        }

        li {
            padding: 0.4rem;
            font-size: 1.2rem;
        }

        a {
            text-decoration: none;
            color: white;
        }
    }
}

.home-link {
    width: 20%;
    padding: 0.5rem;
    color: variables.$orange-color;
    margin-right: auto;
    font-size: 1.2rem;
}

// -------------------- HOVER -------------------

.home-link:hover{
    animation: hoverWhite 0.3s forwards;
}

.info-links a:hover {
    animation: hoverOrange 0.3s forwards;
}

@keyframes hoverWhite {
    from {
        color: variables.$orange-color;
    }

    to {
        color: white;
    }
}

@keyframes hoverOrange {
    from {
        color: white;
    }

    to {
        color: variables.$orange-color;
    }
}

// -------------------- MEDIA QUERIES ---------------------

@media screen and(min-width: 768px){
    nav {
        ul {
            li {
                padding: 0.8rem;
                font-size: 1.5rem; 
            }
        }

        .home-link {
            font-size: 1.5rem;
            padding: 0.8rem 1rem;
        }
    }
}


@media screen and(min-width: 1270px){
    nav {
        ul {
            li {
                padding: 1.2rem;
                font-size: 2rem; 
            }
        }

        .home-link, .info-links li {
            font-size: 2.5rem;
        }

        #contact-link {
            font-size: 2rem;
        }
    }
}