@use "../../styles/variables";

.about-me-container {
    background: variables.$dark-bg-color;
    min-height: 90vh;
}

.sections-container {
    min-height: calc(90vh - 75px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    overflow: hidden;
    background: url("../../images/top-layered-waves-haikei.svg"), url("../../images/layered-waves-haikei.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: 100% auto, 100% auto;
    background-position: 0 0, bottom;


    .animation-ref-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        width: 100%;
    }

    section {
        margin: 1rem;
        max-width: 800px;
        background: rgb(255, 255, 255, 0.88);
    }

    .intro-section {
        padding: 1rem;
        width: 100%;
        border-radius: 1rem;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        a {
            font-weight: bold;
            color: variables.$orange-color;
        }
    }
}

.skills-container {
    text-align: center;
    color: white;
    margin: 1rem 0;
}

.images-container {
    margin: 1rem 0;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    img {
        margin: 0.3rem;
        height: 50px;
        width: auto;
        display: inline-block;
    }
}

.button-container {
    margin: 2rem 0;
}

.skill-list-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    span {
        margin: 0.3rem;
    }
    max-width: 100%;
}

@media screen and (min-width: 768px) {

    .images-container {
        img {
           height: 65px; 
        }
    }

    .skill-list-container {
        span {
            font-size: 1.2rem;
        }
    }
    .sections-container {

        .intro-section {
            font-size: 1.5rem;
            width: 70%;
            padding: 1rem;
        }

        button a, button {
            font-size: 1.5rem;
        }
    }
    .skill-container {
        img {
            height: 80px;
            width: auto;
        }
    }
}

@media screen and (max-height: 600px) {
    .about-me-container {
        height: 800px;

        .sections-container {
            height: 750px;
        }
    }    
    .intro-section {
        font-size: 1.2rem;
        width: 70%;
        padding: 1rem;
    }
}

@media screen and (min-width: 1024px){
    .sections-container {
        background-size: 100% 60%, 100% 60%;
    }
    .images-container {
        img {
            margin: 0.5rem;
        }
    }

    .skills-container {
        span {
            margin: 0.5rem;
        }
    }
}

@media screen and (min-width: 1200px) {
    .sections-container {
    
        .star-rating-container svg {
            font-size: 1.2rem;
        }
        }
}
