@use "../../styles/variables";

.about-me-container {
    background: variables.$dark-bg-color;
    min-height: 90vh;
    overflow: hidden;
}

.sections-container {
    min-height: calc(90vh - 75px);
    overflow: hidden;
    background: url('../../images/layered-waves-svg-about-me.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;
    display: flex;
    justify-content: space-around;
        
}

.animation-ref-container, .skills-ref-container {
    margin-top: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;

    section {
        color: white;
    }
}

.intro-section {
    padding: 1rem;
    margin: 1rem 0;
    width: 100%;

    h2 {
        margin: 2rem 0;
        text-align: center;
    }

    h4 {
        margin-bottom: 0.5rem;
    }
    a {
        font-weight: bold;
        color: variables.$orange-color;
    }
}

.skills-container {

    h2 {
        margin: 2rem 0;
    }
    text-align: center;
    color: white;
    margin: 1rem 0;
    padding: 1rem;
}

.button-container {
    margin: 2rem 0;
}

.skill-list-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    span {
        margin: 0.3rem;
    }
    max-width: 100%;
}

@media screen and (min-width: 768px) {

    .images-container {
        img {
           height: 65px; 
        }
    }

    .sections-container {
        font-size: 1.5rem;
        .intro-section {
            width: 70%;
            padding: 1rem;
        }

        button a, button {
            font-size: 1.5rem;
        }
    }
    .skill-container {
        margin: 2rem;
        display: flex;
        flex-direction: column;
        height: 140px;
        width: 140px;
        border-radius: 10rem;
        border: 0.2rem solid variables.$orange-color;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    img {
        height: 0;
        width: 0;
        position: absolute;
    }
}

.skill-container:hover {
    img {
        animation: 1s scaleSkillImg forwards;
    }
}

@keyframes scaleSkillImg {
    0% {
        width: 0;
        height: 0;
    }
    50% {
        width: 200px;
        height: auto; 
        opacity: 0.3;   
    }
    100% {
        opacity: 0;
    }
}



@media screen and (max-height: 600px) {
    .about-me-container {
        height: 800px;

        .sections-container {
            height: 750px;
        }
    }    
    .intro-section {
        font-size: 1.2rem;
        width: 70%;
        padding: 1rem;
    }
}

@media screen and (min-width: 1024px){
    .images-container {
        img {
            margin: 0.5rem;
        }
    }

    .skills-container {
        span {
            margin: 0.5rem;
        }
    }
}

