@use "../../styles/variables";

.about-me-container {
    height: 100vh;
    background: variables.$dark-bg-color;
}

.sections-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 75px);
    padding: 0.5rem;
    overflow: hidden;
    background: url("../../images/top-layered-waves-haikei.svg"), url("../../images/layered-waves-haikei.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: 100% auto, 100% auto;
    background-position: 0 0, bottom;


    .animation-ref-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        width: 100%;
    }

    section {
        margin: 1rem;
        max-width: 600px;
        background: rgb(255, 255, 255, 0.88);
    }

    .intro-section {
        padding: 1rem;
        width: 100%;
        border-radius: 1rem;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        a {
            font-weight: bold;
            color: variables.$orange-color;
        }
    }
    .skills-section {
        padding: 0.5rem;
        width: 100%;
        border-radius: 1rem;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        h3 {
            text-align: center;
        }
        ul {
            margin: 1rem 0;
            li {
                display: flex;
                justify-content: space-around;
                padding: 0.1rem 0;
                margin: 0.05rem 0;
                border-bottom: 0.05rem solid grey;
            }
        }
    }
}

@media screen and (min-width: 337px) {
    .sections-container {
    
    .skills-section, .intro-section {
        font-size: 1rem;
        width: 90%;
        }
    }
}

@media screen and (min-width: 768px) {
    .sections-container {

        justify-content: space-around;
        .skills-section, .intro-section {
            font-size: 1.5rem;
            width: 70%;
            padding: 1rem;
        }

        button a, button {
            font-size: 1.7rem;
        }
    }
}

@media screen and (max-height: 600px) {
    .about-me-container {
        height: 800px;

        .sections-container {
            height: 750px;
        }
    }    
    .skills-section, .intro-section {
        font-size: 1.2rem;
        width: 70%;
        padding: 1rem;
    }
}

@media screen and (min-width: 1024px){
    .sections-container {
        background-size: 100% 60%, 100% 60%;
    }
}

@media screen and (min-width: 1200px) {
    .sections-container {
    
        .star-rating-container svg {
            font-size: 1.2rem;
        }
        }
}

.star-rating-container {
    margin-left: auto;
    color: rgb(0, 0, 0, 0.1);
    font-size: 0.8rem;
}

.animate-4-stars {
    
    svg:nth-child(1) { 
        animation: colorStar 0.5s forwards;  
    }
    svg:nth-child(2) {  
        animation: colorStar 0.5s forwards;  
    }
    svg:nth-child(3) {
        animation: colorStar 0.5s forwards;
    }
    svg:nth-child(4) { 
        animation: colorStar 0.5s forwards;  
    }
}

.animate-5-stars {
    @extend .animate-4-stars;
    svg:nth-child(5) {  
        animation: colorStar 0.5s forwards;  
    }
}

.animate-6-stars {
    @extend .animate-5-stars;
    svg:nth-child(6) {  
        animation: colorStar 0.5s forwards;  
    }
}

.animate-7-stars {
    @extend .animate-6-stars;
    svg:nth-child(7) {  
        animation: colorStar 0.5s forwards;  
    }
}

.animate-8-stars {
    @extend .animate-7-stars;
    svg:nth-child(8) {  
        animation: colorStar 0.5s forwards;  
    }
}

@keyframes colorStar {
    0% {
        color: rgb(0, 0, 0, 0.1);
    }
    100% {
        transform: scale(1.15);
        color: #E0AA3E;
    }
}